.BookDimensionsInputBar {
  margin: 1.5% 1%;
  display: inline-flex;
  width: 98%;
  max-width: 600px;
}

#book-width {
  width: 33%;
}

#book-height {
  width: 33%;
  margin-inline: 1%;
}

#submit-book-dimensions {
  width: 32%;
}

#submit-book-dimensions > button {
  height: 100%;
  width: 100%;
}

