.BookDimensionsInputBar {
  margin: 1.5% 10px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

#book-width {
  width: 32%;
  max-width: 200px;
}

#book-height {
  width: 33%;
  max-width: 200px;
  margin-inline: 10px;
}

#submit-book-dimensions {
  width: 28%;
  max-width: 200px;
}

#submit-book-dimensions > button {
  height: 100%;
  width: 100%;
}

#radio-group {
  margin-left: 10px;
}
